@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato|Courgette');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color:#f1f5f8;
}
header {
    background-color:#396E94;
    display: grid;
    grid-template-columns: 150px auto;
}     
nav {
    display: flex;
    justify-content: space-around;
    
}        
nav a{
    text-align: center;
    color: white;
    text-decoration:none;
    padding: 25px;
    font-size: 1.5em;
}
nav a:hover {
    background-color: #B1B6A6;
    color: black;
}  
.logo {
    width: 280px;
}   
#ward-img {
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(10, auto);
}  

.home-msg{
    text-align: center;
}

.sacrament_program {
    text-align: center;
    grid-column: 1/11;
    grid-row: 1;
    font-size: 2em;
}

.second_hour {
    text-align: center;
    grid-column: 1/11;
    grid-row: 2;
    font-size: 2em;
}

.ward_announcements {
    text-align: center;
    grid-column: 1/11;
    grid-row: 3;
    font-size: 2em;
}

.resource-grid{
    display: grid;
    grid-template-columns: repeat(3, 527px);
    grid-template-rows: repeat(3, auto);
} 

.recommend{
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.bishop{
    margin: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.bulletin{
    margin: 20px;
    grid-column: 3/3;
    grid-row: 2/3;
    text-align: center;
}

h1{
    font-size: 4em;
    font-family: Courgette,"Brush Script Mt",sans-serif;
    text-align: center;
}

h2{
    font-size: 2em;
    text-align: center;
    font-family: Courgette,"Brush Script Mt",sans-serif;
    margin: 0;
} 
#home-msg {
    text-align: center;
}
#background {
    height: 725px;
    background-color:#819595;
    grid-column: 1/11;
    grid-row: 5/11;
}  

.temple{
    margin-top:50px;
    border: 10px solid black;
    width: 100%;
    grid-column: 2/6;
    grid-row: 5/10;
}

.msg{
    margin-top:50px;
    background-color:#003049;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/9;
}
.msg p{
    color: white; 
    font-size: 1.5em;   
}

.msg h2{
    color: white;  
    font-family: Lato,Helvetica, sans-serif;
}


body {
    background-color: #fcfbfb;
    font-size: 15px;
    font-family: Lato,Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
}

footer{
    background-color:#396E94;
    color: white;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 25px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: white;  
    text-decoration: none; 
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover{
    color: #d9c2a3;   
    text-decoration: underline; 
}